<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
  <div class="main">
    <div class="header">
      <a href="/">
        <img src="/public/img/logo2.png" alt="">
      </a>
      <h3>用户登录</h3>
    </div>
    <div class="alert alert-danger hidden" role="alert">
    </div>
    <form id="login_form" method="post" action="/login">
      <div class="form-group">
        <label for="email">邮箱</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="password">密码</label>
        <a href="" class="pull-right">忘记密码</a>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox">记住我
        </label>
      </div>
      <button type="submit" class="btn btn-success btn-block">登录</button>
    </form>
    <div class="message">
      <p>没有账号? <a href="/register">点击创建</a></p>
    </div>
  </div>
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script type="text/javascript">
    $('#login_form').on('submit', function (e) {
      e.preventDefault()
      var formData = $(this).serialize()
       console.log(formData)
      $.ajax({
        url: '/login',
        type: 'post',
        data: formData,
        dataType: 'json',
        success: function (data) {
          var err_code = data.err_code
          if (err_code == 0) {
            window.location.href = '/'
          } else if (err_code == 1) {
            $('.hidden').show().text('邮箱或密码错误')
          } else if (err_code == 500) {
            $('.hidden').show().text('服务器忙，请稍后重试')
          }
        }
      })
    })
  </script>
</body>

</html>

